<%= form_with url: login_url, local: true, method: :post do |form| %>
  <div class="row g-3">
    <div class="col-12 mb-3">
      <%= form.label :fname, "First name", {:class => 'form-label'}  %>
      <%= form.text_field :fname, {:required => true, :class => 'form-control' }  %>
    </div>
    <div class="col-12 mb-3">
      <%= form.label :lname, "Last name", { :class => 'form-label' }  %>
      <%= form.text_field :lname, {:required => true, :class => 'form-control' }%>
    </div>
  </div> 
  <%= form.submit "Submit", {:class => 'btn btn-primary'} %>
<% end %>