<% content_for :content do %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="w-50 mx-auto">
        
          <h1 class="mb-3">User account created</h1>
          <table class="table table-striped">
            <tr>
              <td>Username</td>
              <td>First</td>
              <td>Last</td>
              <td>ID</td>
            </tr>
            
            <tr>
              <td><%= username %></td>
              <td><%= fname %></td>
              <td><%= lname %></td>
              <td><%= id %></td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
