<html>
<head>
  <title><%= @page_title or "Auth App" %></title>
  <%= render :partial => "shared/htmlHead" %>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">AuthApp</a>
      <ul class="nav">
        <% if !current_user %>
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= register_url %>">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="<%= login_url %>">Login</a>
          </li>
          <% else  %>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><%= current_user.first_name %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/logout">Log out</a>
          </li>
        <% end %>
      
      </ul>
    </div>
  </nav>
  <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>
  <div id="content" class="my-5">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</body>
</html>